<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134693614084-u790qem6920n8q65hsdg5c301v9mjlm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134693614084-u790qem6920n8q65hsdg5c301v9mjlm9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>134693614084-do3kcr8okok2dgnmd6m43428o7nleloo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCiJqNYXED_1kdSyZFgiVoWqj63qvz3PT0</string>
	<key>GCM_SENDER_ID</key>
	<string>134693614084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.h.mortaja.socialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>social-media-app-e07fb</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-app-e07fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134693614084:ios:4da36c89817053be4efb51</string>
</dict>
</plist>